<html>
	<title>To-Do lists</title>
</html>
<body>
	<h1>Start a new To-Do list</h1>
	<form method="POST" action="/lists/new">
		<input id="new_item" name="item_text" type="text" placeholder="Enter a to-do item">
		{% csrf_token %}
	</form>
</body>