<html>
	<title>To-Do lists</title>
</html>
<body>
	<h1>Your To-Do list</h1>
	<form method="POST" action="/lists/{{ list.id }}/add_item">
		<input id="new_item" name="item_text" type="text" placeholder="Enter a to-do item">
		{% csrf_token %}
	</form>

	<table id="list_table">
		{% for item in list.item_set.all %}
			<tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
		{% endfor %}
	</table>
</body>